@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    --color-footer: #EEEEEE;
    --color-rose: #FBDFDB;
    --color-gray: #777777 ;
}

* {
    margin: 0;
    padding: 0;
    border: 0
}

body {
    background: white;
    color: black;
    font-family: 'Roboto', sans-serif;
}

.margin-page {
    max-width: 940px;
    margin: 0 auto;
}

.header {
    width: 100%;
    height: 70px;
}

.header .content {
    height: 100%;

    display: flex;
    align-items: center;
}

.header .content .content-logo {
    margin-right: 122.4px;
}

.header .content .content-nav a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    margin-right: 30px;
}

.banner {
     height: 366px;
     background-color: var(--color-rose);
     border-radius: 30px;
     box-sizing: border-box;

     position: relative;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 0 100px 0 66px;
}

.banner .text {
    width: 316px;
}

.banner .text hgroup h1 {
    font-size: 32px;
}

.banner .text p {
    font-size: 18px;
}

.banner .image {
    width: 216px;
    height: 300px;

    position: absolute;
    right: 100;
    bottom: 0;
}

.main-content {
    margin-top: 50px;
    margin-bottom: 50px;
} 

.main-content hgroup {
    margin-bottom: 20px;
}

.main-content .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.main-content hgroup h1 {
    font-size: 24px;
}

.main-content .food-item .image {
    width: 300px;
    height: 140px;
    border-radius: 15px;
}

.main-content .cards .food-item hgroup {
    margin: 20px 0 5px 0;
}

.main-content .cards .food-item hgroup .name {
    font-size: 18px;
    font-weight: normal;
}

.main-content .cards .food-item .chef {
    font-size: 14px;
    color: var(--color-gray);
}

footer {
    width: 100%;
    height: 62px;
    background-color: var(--color-footer);

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 14px;
    color: #999999;
}

.active {
    font-weight: bold;
}

.about-content {
    margin-bottom: 50px;
}

.about-content article hgroup h1 {
    font-size: 24px;
}

.about-content article hgroup h2 {
    font-size: 20px;
}

.about-content article p {
    font-size: 18px;
    margin: 20px 0 20px 0;
}